section.features{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 50px;
    position: relative;
    
    p{
        max-width: 300px;
    }

    article {
            padding-bottom: 30px;

        .hr{
            background-color: black;
            height: 1px;
            border: 1px solid black;
            margin: 15px 0;
            position: relative;

            &::after{
                --width: 20px;
                content:  '';
                background-color: var(--primary);
                width: var(--width);
                aspect-ratio: 1/1;
                border-radius: 100%;
                margin-top: calc(var(--width)/-2.2);
                position: absolute;
                top: 0;
                right: 0;
                box-shadow: 0px 0px 1px 2.5px;
            }
        }
        
        div:has( > h2, > p){
            font-size: var(--headSize);
        }

        a{
            background-color: black;     
            color: white;
            padding: 10px;
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.601);
            border-radius: 5px;
        }
    }

     > .features{
        background-color: var(--cardBg);
        padding: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.601);
        display: grid;
        gap: 5px;

        & > div{
            border: 3px solid black;
            padding: 10px;
            position: relative;
            padding-top: 25px;
            background-color: var(--opBg);

            & > span{
                position: absolute;
                top: 0;
                background-color: black;
                left: 0;
                width: 20px;
                aspect-ratio: 1/1;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            & > p{
                font-size: small;
            }
        }
    }

        .flare{     
        top: 0;
        &.left{
            left: 0;
            rotate: 30deg;
            transform: translateY(120%);
            margin-left: 40px;
        }

        &.right{
            left: 0;
            margin-top: 500px;
            rotate: -30deg;
            transform: translateY(100%);
        }

        &.bottom{
            rotate: -60deg;
            top: unset;
            bottom: 0;
            right: 0;
            margin-right: 200px;
            margin-bottom: -103px;
        }
    }
}

@media (max-width: 670px) {
    section.features{
        flex-direction: column;
        align-items: center;

        article{
            text-align: center;
        }

        .features{
            grid-template-columns: 1fr;
            width: 100%;
        }

        .flare{
            display: none;
        }
    }
}